<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite name="JSON RPC Test Suite">
            <directory>./src/Kilte/JsonRpc/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <filter>
            <whitelist>
                <directory>src/Kilte/JsonRpc</directory>
                <exclude>
                    <directory>src/Kilte/JsonRpc/Tests</directory>
                </exclude>
            </whitelist>
        </filter>
    </filter>
</phpunit>