<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite name="JSON RPC Test Suite">
            <directory>./src/Kilte/JsonRpc/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>